/* Estilo geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* Contêiner de login */
.login-container, .dashboard-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
}

/* Estilo dos links de vídeo */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}

/* Cabeçalho */
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Campos de input e botão */
input, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#error-message {
  color: red;
}
